* {
  border: 1px solid black;
  box-sizing:border-box;
  background:orangered;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  color:black
  
}
h1 {
  text-align: center;
  margin-top: 5%;
  font-size: 2eM;
}
.grid {
  
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  margin: 20px;
  justify-content: center;
}

.tile {
  border: solid 2px black;
  height: 150px;
  width: 150px;
}

.start{
  scale: 2;
  color:orangered;
  background-color: black;
  margin: 20px 0 0 49%;
}