:root {
  --c1:#FFE194;
  --c2:#1B9C85;
  --c3:#4C4C6D;
  --c4:#E8F6EF;
}


* {
  color: var(--c2);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  z-index: 1;
  overflow: hidden;
  font-family: sans-serif;
}


  body {
    background: var(--c1);
  }

.game {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 3eM;
}

.scoreboard{
  display: flex;
  justify-content: space-evenly;
}

.score {
  font-size: 4em;
}


.wrapperTwo, .wrapperOne {
  height: 100px;
  width: 12vw;
  visibility: hidden;
}

.grid {
  visibility: hidden;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  justify-content: center;
}

.tile {
  cursor: pointer;
  padding: 30% 0;
  color: var(--c2);
  border: solid 10px var(--c2);
  width: 150px;
  height: 150px;
  font-size: 3em;
}

.tile:hover {
  background: var(--c3);
  border: 5px dotted var(--c2);
}


.left {
  position: relative;
  border-left: none;
  border-right: none;
}

.top {
  border-top: none;
  border-bottom: none;
}

.right{
  border-right: none;
  border-left: none;
}

.bot {
  border-top: none;
  border-bottom: none;
}

.start{
  position: fixed;
  left: 50%;
  top: 50%;
  visibility: visible;
  font-size: 4em;
  height: 100px;
  width: 200px;
  color: var(--c3);
  background-color: var(--c1);
  border-radius: 5px;
  transform: translate(-50%, -50%);
}

.start:hover {
  cursor: pointer;
  color: var(--c2);
  background: var(--c4);
}

#winner {
  visibility: hidden;
  display: normal;
  position: relative;
  bottom: 250px;
  font-size: 3em;
  color: blue;
}

.down {
  animation: boardSetT 2s, OpacityS 2;
  }
  
  .up {
  animation: boardSetB 2s, OpacityS 2;
  }
  .left-A {
  animation: boardSetR 2s, OpacityS 2;
  }
  
  .right-A{
  animation: boardSetL 2s, OpacityS 2;
  }
  
  .fade {
    animation: OpacityS 3s;
  }

  

@keyframes boardSetR {
  0%{
		translate: -100% 0%;
	}
	100%{
		translate: 0 0%;
	}
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes boardSetL{
  0%{
		translate: 100% 0%;
	}
	100%{
		translate: 0 0%;
	}
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes boardSetT {
  0%{
		translate: 0 100%;
	}
	100%{
		translate: 0 0%;
	}
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}

@keyframes boardSetB {
  0%{
		translate: 0 -100%;
	}
	100%{
		translate: 0 0%;
	}
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes OpacityS{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
