* {
  box-sizing: border-box;
  background:orangered;
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow: hidden;
  //border: 1px black solid;
  z-index: 1;
}


  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }

h1 {
  text-align: center;
  font-size: 4eM;
}

.scoreboard {
  display: flex;
  justify-content: space-evenly;
}


.player, .score {
  font-size: 4eM;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  margin: 20px;
  justify-content: center;
}

.tile {
  padding: 35%;
  border: solid 2px black;
  height: 150px;
  width: 150px;
  text-align: center;
  font-size: 3em;
}

.left {
  border-left: none;
}

.top {
  border-top: none;
}

.right{
  border-right: none
}

.bot {
  border-bottom: none;
}

.start{
  display:"none";
  scale: 3;
  height: 20px;
  margin-top: 35%;
  color:orangered;
  background-color: black;
  border-radius: 5px;
}

.start:hover {
  color: blue;
  background: white;
}

#winner{
  visibility: hidden;
  position: absolute;
  top: 15%;
  right: 43%;
  font-size: 3em;
  color: blue;
}

.Menu {
  visibility: visible;
  display:flex;
  align-self: center;
  justify-content: center;
  position: fixed;
  background-color: rgba(189, 88, 11, 0.75);
  height:100%;
  width: 100%;
  z-index: 3;
}
